# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import DataScienceHelperLibrary as dsh
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
_, files = dsh.ReadCsvFiles(['messages.csv', 'categories.csv'])

-------------------- Start reading files --------------------
Dataframe loaded from messages.csv: shape = (26248, 4)
Dataframe loaded from categories.csv: shape = (26248, 2)
-------------------- Reading files successfully finished --------------------

In [3]:
# load messages dataset
messages = files['messages.csv']
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [4]:
dsh.AnalyzeDataFrame(messages)

-------------------- Dataframe analysis started --------------------
Shape:  (26248, 4)
Number of duplicate rows:  68
-------------------- Analysis of Columns with NaN values --------------------
Columns having all values: 3, 75.00%
id, type: int64          0.0
message, type: object    0.0
genre, type: object      0.0
dtype: float64
Columns having > 50% and <= 70% missing values: 1, 25.00%
original, type: object    0.612009
dtype: float64
-------------------- Analysis of Columns with NaN values finished --------------------
-------------------- Dataframe analysis finished --------------------

As there are many rows with no original text, let's check what's the difference between those with orig text and those without:

In [5]:
messages[messages['original'].isnull()].head()

,id,message,original,genre
7433,8365,NOTES: It mark as not enough information,NaN,direct
9902,11186,My thoughts and prayers go out to all the live...,NaN,social
9903,11188,I m sorry for the poor people in Haiti tonight...,NaN,social
9904,11189,RT selenagomez UNICEF has just announced an em...,NaN,social
9905,11192,lilithia yes 5.2 magnitude earthquake hit mani...,NaN,social

In [6]:
messages[~messages['original'].isnull()].head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

I assume that the column 'original' keeps the message original text if it is not written in english. If the oiginal text is written in english, it is stored in the message column and the value in the corresponding original cell is NaN (or NULL in database).


Messages starting with 'NOTES:' got my attention, so have a look at them.

In [7]:
ser = messages['message']

ser[ser.str.startswith('NOTES:')]

3069                   NOTES: Personal. Not an emergency.
3102             NOTES: aclet dry We are counting on you.
3106                      NOTES: talking about gas prices
3169                 NOTES: Historic earthquake in Haiti.
3243    NOTES: They are requesting that somebody to pa...
3265    NOTES: Regular gossip or message sharing. Not ...
3275           NOTES: personal request. Not an emergency.
3318             NOTES: regular gossip. Not an emergency.
3364                     NOTES: Gossip. Not an emergency.
3369           NOTES: Personal comment. Not an emergency.
3370           NOTES: Personal opinion. Not an emergency.
3383        NOTES: Inquiry. No action needed at this time
3393               NOTES: looking for work - construction
3396       NOTES: Concerns about remainder of school year
3399           NOTES: Gossip. Personal. Not an emergency.
3400                    NOTES: Discard. Not an emergency.
3402    NOTES: Personal concerns and offer of help to ...
3405             NOTES: An opinion and request to the Gvt
3408    NOTES: Comment and political opinion. No emerg...
3409                      NOTES: Statement. No emergency.
3410    NOTES: The stench of death is overwhelming the...
3465                NOTES: I already translated this one.
3509            NOTES: Is there a place that hire people?
3543    NOTES: I already translated this yesterday. Co...
3606          NOTES: A message of comfort to the victims.
3619    NOTES: Whether forecast. I have heard it menti...
3620    NOTES: Dedicating a song of comfort to the vic...
3626                    NOTES: Not an emergency. Discard.
3702    NOTES: gives name and address - does not speci...
3714    NOTES: We need water and health care at rue Ca...
                              ...
9683    NOTES: This message is not important.This pers...
9684    NOTES: This message is not important. This per...
9709                     NOTES: this people want to play.
9725    NOTES: THis kind of message is not important t...
9727                      NOTES: Text already translated.
9730                       NOTES: It's already translate.
9732    NOTES: This message is not important to translate
9733    NOTES: this text is not important cause is not...
9741          NOTES: This message is not concern our task
9750    NOTES: This message is not so clear to translate.
9754    NOTES: This message is not important, I have a...
9755    NOTES: The person curse at with his boyfriend,...
9757         NOTES: this message doesn't concern this job
9773    NOTES: It's not important to translate because...
9797    NOTES: this message it's not our concern it's ...
9800    NOTES: The message is not important and the me...
9802         NOTES: this mesage doesn't concern this work
9826    NOTES: The person express his feeling, the mes...
9831    NOTES: it's important to translate this messag...
9838    NOTES: This message is not important to transl...
9839      NOTES: this person wants to translate two words
9845             NOTES: This person has the wrong number.
9846    NOTES: what kind of message is not important t...
9866               NOTES: it's not important to translate
9869    NOTES: this is not an important message. This ...
9881    NOTES: I already translated the message is not...
9886        NOTES: this messsage doesn't concern this job
9887    NOTES: This text is not clear. it doesn't has ...
9890    NOTES: I allready translate this message, it's...
9891             NOTES: I allready translate thi message.
Name: message, Length: 330, dtype: object

Most of the messages are like 'Not important', 'Already translated' and so on.
So I decide to drop those rows.

In [8]:
dsh.AnalyzeColumn(messages, 'genre')

-------------------- Analysing column/s "['genre']" --------------------
Datatype (dtype) =  object
-------------------- Analysis of Columns with NaN values --------------------
Columns having all values: 1, 100.00%
genre, type: object    0.0
dtype: float64
-------------------- Analysis of Columns with NaN values finished --------------------
Considering columns:  ['genre']
-------------------- Dataframe value counts analye started --------------------
********************  ********************
news      13068
direct    10782
social     2398
Name: genre, dtype: int64
********************  ********************
-------------------- Dataframe value counts analysis finished --------------------
-------------------- Finished analysing column/s "['genre']" --------------------

In [9]:
# load categories dataset
categories = files['categories.csv']
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [10]:
dsh.AnalyzeDataFrame(categories)

-------------------- Dataframe analysis started --------------------
Shape:  (26248, 2)
Number of duplicate rows:  32
-------------------- Analysis of Columns with NaN values --------------------
Columns having all values: 2, 100.00%
id, type: int64             0.0
categories, type: object    0.0
dtype: float64
-------------------- Analysis of Columns with NaN values finished --------------------
-------------------- Dataframe analysis finished --------------------

In [11]:
dsh.AnalyzeEqualColumns(messages, categories)

-------------------- Starting comparing dataframes: --------------------
Equal columns found:  ['id']
Column id: All values in both columns contained
Column id: Value counts are equal
-------------------- Finished comparing dataframes: --------------------

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [12]:
# merge datasets
df = dsh.QuickMerge(messages, categories)

dsh.DfTailHead(df, 4)

-------------------- Merging dataframes on columns:  --------------------
['id']
New shape:  (26386, 5)
--------------------  --------------------

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
26382,30262,A suitable candidate has been selected and OCH...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26383,30263,"Proshika, operating in Cox's Bazar municipalit...",NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26384,30264,"Some 2,000 women protesting against the conduc...",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26385,30265,A radical shift in thinking came about as a re...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...

In [13]:
print(df.shape)

(26386, 5)

Now there are more rows due to duplicate entries in both files.

In [14]:
dsh.DfTailHead(messages[~messages['original'].isnull()], 4)

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
12366,14673,Ghambat: Sindh: Volunteers needed : @ http://b...,Ghambat: Sindh: Razakaroon ki zaroorat hai : @...,direct
12367,14675,"shikarpur: Volunteers needed, food and medical...",shikarpur mein swanyasevak ki avyashaktha he.k...,direct
12368,14676,"Dadu: Needs water, food, medicines. boats","JO KO KHANA, PAANI, DAWAYIAN, NAOV CHAHIYE.",direct
12370,14679,Umer kot: Sindh: Shelter and Camp needed as pe...,"Umer kot: Sindh: logon ko rehne ke liye ghar,s...",direct

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [15]:
uniqueCategories = dsh.GetUniqueValuesListFromColumn(
    df, 
    'categories', 
    clean = {'' : ['-1', '-0'] },
    splitby = ';',
)

-------------------- Start cleaning values in columns: --------------------
Applied on "categories":  replaced "['-1', '-0']" by ""
-------------------- Finished cleaning values in columns: --------------------
-------------------- Column "categories" has 37 unique values --------------------

In [16]:
_ = dsh.CheckIfValuesContainedInEachOther(uniqueCategories)

-------------------- Following values are contained in others: --------------------
related  -  ['aid_related', 'infrastructure_related', 'weather_related', 'related-2']
--------------------  --------------------

I made this check because I was thinking about an alternative way to encode this column. Just extract the pure category name and check if "{category}-1" in whole category string or not. Depending on that add column with values 1 or 0. But that won't work with 'related' as the output says.

The last value 'related-2' attracted my attention. I assumed that it is in the first column. So I checked it:

In [17]:
df[df['categories'].str.contains('related-2')]

,id,message,original,genre,categories
117,146,Dans la zone de Saint Etienne la route de Jacm...,Nan zon st. etine rout jakmel la bloke se mize...,direct,related-2;request-0;offer-0;aid_related-0;medi...
221,263,. .. i with limited means. Certain patients co...,t avec des moyens limites. Certains patients v...,direct,related-2;request-0;offer-0;aid_related-0;medi...
307,373,The internet caf Net@le that's by the Dal road...,Cyber cafe net@le ki chita rout de dal tou pr ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
462,565,"Bonsoir, on est a bon repos aprs la compagnie ...",Bonswa nou nan bon repo apri teleko nan wout t...,direct,related-2;request-0;offer-0;aid_related-0;medi...
578,700,URGENT CRECHE ORPHANAGE KAY TOUT TIMOUN CROIX ...,r et Salon Furterer. mwen se yon Cosmtologue. ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
657,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
658,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
659,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
660,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
889,1063,no authority has passed by to see us. We don't...,EN OKENN OTORITE POKO PASE WE NOU NOU PAGEN KO...,direct,related-2;request-0;offer-0;aid_related-0;medi...
903,1080,It's Over in Gressier. The population in the a...,Se over toujou nan gresye 24e seksyon komin. P...,direct,related-2;request-0;offer-0;aid_related-0;medi...
931,1113,we sleep with the baby. Thanks in advance for ...,sa nou demi avek ti bebe. Mesi davans pou d no...,direct,related-2;request-0;offer-0;aid_related-0;medi...
937,1121,I need help in Jrmie because I was in Port-au-...,MWEN bezwen ed lan jeremi paske mwen te portop...,direct,related-2;request-0;offer-0;aid_related-0;medi...
939,1123,fsa pou mwen s v p map mouri mwen gen tout po ...,f la kise moniquk fasa pou mwen s v p map mour...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1234,1460,".. Gonaives, in a place called Canal Bois in F...",ou GONAVE NAN YON zon ki se kanal bwa m ekri m...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1256,1483,GEN YON TIBEBE KI MALAD NAN KOU PASKE BLOK TON...,VIRE NAN BO KKOTI YZIN NAN. WAP JWENN YON KAFO...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1317,1550,don't understand the first part. .. understand...,zwen e koman demache la ye. mesi pou konprehan...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1409,1648,Est-ce que ya monde qui aller U. s. a et qui o...,Eske yon mounn ka ale usa ak yon timoun ki ame...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1506,1747,Gens ont information qui dit que si on moins c...,GEN YON ENFOMASYON KI DI SI YON MOUN SITWAYEN ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1694,1951,This is my address : Cersine 8 Prolong. .. .,. min adres mouin : cersine 8 prolonges,direct,related-2;request-0;offer-0;aid_related-0;medi...
1788,2051,I would like to have some information on the l...,MWEN TA RENMEN GEN KEK ENFOMASYON SOU DENYE KA...,direct,related-2;request-0;offer-0;aid_related-0;medi...
2354,2696,No location : Ou se trouve l'ambassade du Snga...,OU SE TROUVE LAMBASSADE DU SENEGAL EN HAITI?,direct,related-2;request-0;offer-0;aid_related-0;medi...
2479,2840,Je veux savoir comment je peux obtenir de l'ai...,I want to know how i can get some support for ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
2544,2920,"142, Ruelle Beaulieu, Mon Repos 44 Carrefour","142, ruelle beaulieu mon repos 44 carrefour",direct,related-2;request-0;offer-0;aid_related-0;medi...
2560,2936,". .. Esdras. Address : Solidarit Village, Tou...",UL ESDRAS ADRESSE VILLAGE SOLIDARITE RUE T LOU...,direct,related-2;request-0;offer-0;aid_related-0;medi...
3033,3481,Route des dalles prolonges #277 after Morne Je...,route des dalles prolongue # 277 apres le morn...,direct,related-2;request-0;offer-0;aid_related-0;medi...
3138,3603,we are in rue Dessalines Petit goaves and it n...,Nous sommes rue Dessalines ( petit-gouve ) et...,direct,related-2;request-0;offer-0;aid_related-0;medi...
3374,3866,I am very happy to get the messages that tell ...,M byen kontan jwenn mesaj nou yo ki enfome m d...,direct,related-2;request-0;offer-0;aid_related-0;medi...
3630,4145,mouin vle kite ayiti depi kek jou.,I want to leave haiti please for some days,direct,related-2;request-0;offer-0;aid_related-0;medi...
4609,5219,Mwen ta renmen jwenn yon djb. ske gen posiblit...,"I wannan found one jod, how like I can got it....",direct,related-2;request-0;offer-0;aid_related-0;medi...
...,...,...,...,...,...
12392,14593,SYED EJAZ BUKHARI MAOZA SHAH WALI TEHSIL ALI P...,SYED EJAZ BUKHARI MAOZA SHAH WALI TEHSIL ALI P...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12396,14598,TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA K...,TAUSEEF KALA / MANGLI VIA / ESS ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12397,14601,TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA K...,NAAM.TAUSEEF KHAN S/ AKBAR DIN. MIANWALI KIYA ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12398,14602,TEH SUHBAT PUR VILL NASEER KHAN KHOSA MY PRESE...,TEH SUHBAT PUR VILL NASEER KHAN KHOSA Mera Var...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12407,14613,UN aur UN K Nimaidon ko Apeel krt hain k? Hama...,! a,direct,related-2;request-0;offer-0;aid_related-0;medi...
12416,14632,I allhadino khaskheli UC chatto a dehe a shalu...,allhadino khaskheli chatto dehe a shalunka ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12418,14635,village koor mir mohmmad u c burira takuka kha...,"GAON: KOOR, MERA NAAM MOHAMMAD U C BURIRA TAKU...",direct,related-2;request-0;offer-0;aid_related-0;medi...
12425,14643,gaav valay aahar aor aarthik samashyaa saamna ...,villagers r facing food and financial problm k...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12427,14645,"CONNFCTION / . SOLANGI, ...",CONNFCTION B / C . VILLAGE ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12479,14720,@jujoffer: So Frankenstorm has been reduced to...,NaN,social,related-2;request-0;offer-0;aid_related-0;medi...
12685,14980,#SandyUntappd Drinking an Oatmeal Stout...,NaN,social,related-2;request-0;offer-0;aid_related-0;medi...
12758,15073,atrickSF @antmarshall @kleankut1 @somarlavous ...,NaN,social,related-2;request-0;offer-0;aid_related-0;medi...
13732,16248,"Les habitants, dont l'activit est essentielle...",NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
14938,17564,"Jusqu' prsent, les 133 femmes qui participen...",NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
15029,17668,Despite rapid deliveries of tents and other re...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
15609,18290,All available resources were put forward to de...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
15933,18650,The six countries will also adopt a training c...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
15979,18705,"""It was very windy and there were heavy thunde...",NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
16046,18777,The 50 international hospital staff lived in a...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
16925,19747,L'Arme suisse a cependant le savoir-faire et ...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
17528,20421,PETR V. ILIICHEV (Russian Federation) said the...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
18381,21367,"* Par ailleurs, aucune victime franaise n'a ...",NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
18644,21661,Refugees International therefore recommends that:,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
19849,22985,This combination of low agricultural productio...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
20192,23358,"crop, loss of hydro-electric generating capaci...",NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
20465,23662,transferred to a sanitary landfill site by a,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
20636,23861,Families also have solar lamps which can be re...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
22481,25874,Read the [full blog post](http://www.odi.org.u...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
23537,27071,Actualmente e independientemente de la ayuda d...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
25385,29126,Mali's former President Amadou Toumani Tour -...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...

My first asumption - without having a look at the messages - was that higher numbers are something like a weight (0 does not belong to this category, 1 tendentially/probably yes and 2 definitely. 
But as I saw the messages, my assumption "english text in message column, foreign text - if present, in original column".

There are multiple ways how to treat multiple languages and I decided myself for the bold printed one:
- store in database and use for model,
- #### store in database to have data present and select via sql only those with related = 1 or just drop those rows before training,

- either, or... don't consider and just drop.

In [18]:
uniqueCategories.remove('related-2')

In [19]:
ser = categories['categories']

categories = ser.str.split(';', expand = True)

In [20]:
# select the first row of the categories dataframe
#row = df[:1]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing

category_colnames = uniqueCategories
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [21]:
# rename the columns of `categories`

categories.columns = category_colnames

In [22]:
categories.head(n = 2)

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [23]:
typelist = []
for column in uniqueCategories:
    # set each value to be the last character of the string
    categories[column] = categories[column].apply(lambda x: int(str(x).replace(column + '-', "")))
    # convert column from string to numeric
    
    # This step does not need to be done beuase I'm already calling int(..) in apply
    typ = str(categories[column].dtype)
    if typ in typelist:
        continue
    typelist.append(typ)
    # data is at this point already numeric
    
print('DType/s of new columns is/are: ', typelist)

DType/s of new columns is/are:  ['int64']

In [24]:
categories.head(n = 2)

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [25]:
# For Testing
dfcopy = df.copy(deep = True)

In [26]:
# drop the original categories column from `df`
df = df.drop('categories', axis = 1)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [27]:
print(df.shape, categories.shape)

(26386, 4) (26248, 36)

In [28]:
# concatenate the original dataframe with the new `categories` dataframe

#dfFinal = pd.concat([df, categories], axis = 1, sort = None )

dfFinal = df.join(categories, how = 'inner', on = 'id')

dfFinal.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [29]:
# check number of duplicates
# drop duplicates
# check number of duplicates

# These steps are implemented in following function:

dfFinal = dsh.RemoveDuplicateRows(dfFinal)

-------------------- Removing duplicate rows --------------------
Current shape:  (22809, 40)
There are  188  duplicates in the data
All duplicates successfully removed. New size:  (22621, 40)
--------------------  --------------------

As my analysis shows (after loading the file), there are still NaN values in the dataframe.
So before saving values in database, I replace Nan by None (in hope it will be converted to DBNULL).

In [30]:
dfFinal.isnull().sum()

id                            0
message                       0
original                  12468
genre                         0
related                       0
request                       0
offer                         0
aid_related                   0
medical_help                  0
medical_products              0
search_and_rescue             0
security                      0
military                      0
child_alone                   0
water                         0
food                          0
shelter                       0
clothing                      0
money                         0
missing_people                0
refugees                      0
death                         0
other_aid                     0
infrastructure_related        0
transport                     0
buildings                     0
electricity                   0
tools                         0
hospitals                     0
shops                         0
aid_centers                   0
other_infrastructure          0
weather_related               0
floods                        0
storm                         0
fire                          0
earthquake                    0
cold                          0
other_weather                 0
direct_report                 0
dtype: int64

In [31]:
dfFinal[dfFinal.original.isnull()]

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
7483,8365,NOTES: It mark as not enough information,NaN,direct,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
9956,11186,My thoughts and prayers go out to all the live...,NaN,social,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
9957,11188,I m sorry for the poor people in Haiti tonight...,NaN,social,1,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0
9958,11189,RT selenagomez UNICEF has just announced an em...,NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9959,11192,lilithia yes 5.2 magnitude earthquake hit mani...,NaN,social,1,0,0,1,0,0,...,0,1,1,1,0,0,0,0,0,0
9960,11193,RT TheNewsBlotter RT caribnews On Call Interna...,NaN,social,1,1,0,1,1,0,...,0,0,1,1,0,0,0,0,0,1
9961,11195,Most Eureka homeowners won&#39 t collect on qu...,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9962,11196,Haiti hit by largest earthquake in over 200 ye...,NaN,social,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
9963,11197,RT pinkelephantpun Earthquake Relief Donate ht...,NaN,social,1,0,0,1,0,0,...,0,0,1,0,1,1,0,0,1,1
9964,11198,Praying that today s earthquake in #Haiti mini...,NaN,social,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9965,11199,RT YURFAVHALFBREED Moment of silence for those...,NaN,social,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
9966,11200,RT lucasrohan Tem alguma coisa do Haiti? T u00...,NaN,social,1,0,0,1,0,0,...,0,0,1,1,1,0,0,0,0,0
9967,11201,RT SamaritansPurse Currently mobilizing a team...,NaN,social,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
9968,11202,My prayers to everyone affected by the earthqu...,NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9969,11204,talking to ma mom..she lives in Jamaica still ...,NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9970,11205,MD Blog Prayer and Response for Haiti As many ...,NaN,social,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9971,11207,7.0 earthquake hits Haiti http bit.ly 8Mpo38 #cnn,NaN,social,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
9972,11208,MD Blog Prayer and Response for Haiti As many ...,NaN,social,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9973,11210,Reading about the earthquake in Haiti. Looks l...,NaN,social,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
9974,11213,RT LeeGrady Haiti is in shambles after this ea...,NaN,social,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
9975,11215,RT Stodsports http twitpic.com xvgbm image of ...,NaN,social,1,0,0,1,1,0,...,0,0,1,1,1,0,0,0,0,0
9976,11219,Earthquake in #Haiti? Does anyone know anythin...,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9977,11220,Horrible earthquake of the coast of Haiti ever...,NaN,social,1,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0
9978,11221,#muse #theresistance Earthquake Hits Haiti Maj...,NaN,social,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9979,11223,wow this made me tear... Haiti Earthquake Afte...,NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9980,11224,Mt Sentinel Quest students are all safe in Hai...,NaN,social,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9981,11225,RT washingtonpost RT PostWorldNews Here are a ...,NaN,social,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9982,11226,Tragic earthquake brings back memories of wond...,NaN,social,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
9983,11227,Follow photomorel for photos of Haiti earthqua...,NaN,social,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
9984,11231,Got home to distressing news Big earthquake in...,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22779,26212,Some men climb the mountains to chop firewood ...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22780,26213,More than 600 militiamen from the SRRC stormed...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
22781,26214,The report said the post was riddled with bull...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22782,26215,"Ebola is a viral disease, which reportedly spr...",NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22783,26216,Late on Thursday relief efforts were dealt a b...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22784,26217,"The company, a leading manufacturer of medical...",NaN,news,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
22785,26218,"The preconstruction activities for over 2,100 ...",NaN,news,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
22786,26219,These images of poverty and squalor are everyw...,NaN,news,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
22787,26220,And of course by now there's no firewood left ...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22788,26221,Our assistance is a stepping stone towards ind...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22789,26222,People have even returned to the beaches for l...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22790,26223,"In this regard, a comprehensive plan will be d...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22791,26225,"In Changai area, tents quilts, kitchen sets we...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22792,26226,UNHCR is leading the relief effort in Balochis...,NaN,news,1,0,0,0,0,0,...,0,0,1,1,0,1,0,0,1,0
22793,26227,Two people were killed when a tree uprooted by...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22794,26228,The rent-subsidized apartments have little acc...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22795,26230,Homes were often heated from the kitchen stove...,NaN,news,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
22796,26231,"To have a home to return to, many exhausted ev...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22797,26232,"Eventually, according to a government plan, ev...",NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22798,26233,Their main task is to clean up contaminated so...,NaN,news,1,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
22799,26234,"UNHCR is also distributing tents, plastic shee...",NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22800,26237,"Before the cyclone, he and his family lived in...",NaN,news,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
22801,26239,Health Cluster partners are currently supporti...,NaN,news,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22802,26240,G.I. Sheets roofing with C class wooden trusse...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22803,26241,Officials say firefighters and soldiers are al...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22804,26242,Most survivors want to stay on their land with...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22805,26243,"GUANGZHOU, Jun 04, 2008 (Xinhua via COMTEX New...",NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22806,26244,Stocks of basic commodities such as wheat flou...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22807,26245,"For years, a silted up pond lay stagnant, a ma...",NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22808,26247,**Forced to join Boko Haram** Kidnapping is be...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Remark:

As there is only the column 'original' with nan values, we can just replace them by None so that it is a clear representation in database.

In [32]:
dfDb = dfFinal #.replace(np.nan, None)

In [33]:
dsh.AnalyzeNanColumns(dfDb)

-------------------- Analysis of Columns with NaN values --------------------
Columns having all values: 39, 97.50%
id, type: int64                        0.0
message, type: object                  0.0
genre, type: object                    0.0
related, type: int64                   0.0
request, type: int64                   0.0
offer, type: int64                     0.0
aid_related, type: int64               0.0
medical_help, type: int64              0.0
medical_products, type: int64          0.0
search_and_rescue, type: int64         0.0
security, type: int64                  0.0
military, type: int64                  0.0
child_alone, type: int64               0.0
water, type: int64                     0.0
food, type: int64                      0.0
shelter, type: int64                   0.0
clothing, type: int64                  0.0
money, type: int64                     0.0
missing_people, type: int64            0.0
refugees, type: int64                  0.0
death, type: int64                     0.0
other_aid, type: int64                 0.0
infrastructure_related, type: int64    0.0
transport, type: int64                 0.0
buildings, type: int64                 0.0
electricity, type: int64               0.0
tools, type: int64                     0.0
hospitals, type: int64                 0.0
shops, type: int64                     0.0
aid_centers, type: int64               0.0
other_infrastructure, type: int64      0.0
weather_related, type: int64           0.0
floods, type: int64                    0.0
storm, type: int64                     0.0
fire, type: int64                      0.0
earthquake, type: int64                0.0
cold, type: int64                      0.0
other_weather, type: int64             0.0
direct_report, type: int64             0.0
dtype: float64
Columns having > 50% and <= 70% missing values: 1, 2.50%
original, type: object    0.551169
dtype: float64
-------------------- Analysis of Columns with NaN values finished --------------------

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

## Remark:  
"Clean" is relative. I just encoded and removed duplicates from matching duplicate ids from categories to duplicate ids from messages (as explored above).

I was deliberating to "clean" data for database by removing rows starting with 'NOTES:' and so on. But I decided against this step because it might be that somehow values appear in database that did not go through that cleaning routine. So I am going to analyze and drop rows that are irreleveant/not processable before using for modeling.

In [34]:
database = 'MyDisasterResponse.db'
table = 'MyMessage'

useOrig = False

#if not useOrig:
#    origDb = 'My' + origDb
#    origMessages = 'My' + origMessages

engine = create_engine('sqlite:///{}'.format(database))

In [35]:
dsh.PrintLine('Current Tables in DB:')
print(engine.table_names())
dsh.PrintLine()

-------------------- Current Tables in DB: --------------------
[]
--------------------  --------------------

In [36]:
sql = 'DROP TABLE IF EXISTS ' + table 
_ = engine.execute(sql)

In [37]:
print('Inserting rows: ', dfFinal.shape[0])

Inserting rows:  22621

sql = 'SELECT * FROM ' + origMessages
tblMessage = engine.execute(sql)

columnNames = tblMessage.keys()

row = tblMessage.fetchall()

print('Current number of rows: ', len(row))
print('Current columns: ', columnNames)

#row[:1]

notexist = []
for dfc in list(df.columns):
    if not dfc in columnNames:
        notexist.append(dfc)
if len(notexist) > 0:
    print('Following columns do not exist in table "Message": ', notexist)
else:
    print('All columns contained in table "Message"')

In [38]:
dfDb.to_sql(table, engine, if_exists = 'append', chunksize = 4)

In [39]:
engine.dispose()

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.

In [40]:
#!tar chvfz ETL_Pipeline_Preparation.tar.gz *